<div class="container-fluid">
    <div class="row">
    <div class="col-md-4">
        <img src="../../assets/images/people-Glasgow-176.jpg" alt="meeting" width="450px" height="250px">
    </div>
    
  <div id="bg" >
    <div class="col-md-12">
      <div class="row" class="pull-right">
      <h2 style="color: white; "class="card-title">Where you can work</h2>
      </div>
      </div>   
          
          
          <div class="col-md-12">
            <div class="row" class="pull-right">
          <img src="../../assets/images/logo-jpm-careers.png" alt="">  <img src="../../assets/images/logo-chase-careers.png" alt=""> <img src="../../assets/images/logo-jpmc-careers.png" alt="">
            </div>
          </div>
          
          
          <!-- <div class="col-md-12">
            <div class="row" class="pull-right">
          
          </div>
          </div>
          
          <div class="col-md-12">
            <div class="row" class="pull-right">
          
          </div>
          </div> -->
          <br>
          <br>
          <div class="col-md-12">
            <button type="button" class="btn btn-outline-light" width="50%">Learn More</button>
          </div>
        
      
    
  </div>
  </div>
  </div>
